<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>Island Escape</ion-title>
    <ion-buttons end>
      <button ion-button (click)="showInventory()">Inventory</button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-5 class="turnCol">
        <ion-grid>
          <ion-row>
            <ion-col>
              Turn
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              1
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Hut Button
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Inventory Button
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Raft Button
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col col-7 class="mapCol">
        <div>
          <div *ngFor="let row of rowsControl">
            <div *ngFor="let cell of colsControl" (click)="tileTapped($event, island[row+''+cell]); openTileModal(island[row+''+cell])" ngClass="mapCell islandTile {{island[row+''+cell].type}}">
              {{ island[row+''+cell].type }}
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>