.turnCol, 
.mapCol {
    text-align: center;
}

.mapCell {
    border: 1px solid grey;
}

.beach {
    background-color: #dae07a;
}

.woods {
    background-color: #00962d;
}

.grass {
    background-color: #00d423;
}

.water {
    background-color: #3a96ff;
}

.hut {
    background-color: #5a3300;
}

.jetty {
    background-color: #63431f;
}