<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>Island Escape</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-3 class="turnCol">
        <ion-grid>
          <ion-row>
            <ion-col>
              Turn
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              1
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Hut Button
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Inventory Button
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Raft Button
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col col-9 class="mapCol">
        <ion-grid>
          <ion-row *ngFor="let row of island">
            <ion-col *ngFor="let cell of row" (click)="tileTapped($event, cell); openTileModal(cell)" class="mapCell">
              {{cell.type}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>