<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>{{gameservice.gettime()}} - The Island</ion-title>
    <ion-buttons end>
      <button ion-button (click)="showInventory()">Inventory</button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-5 class="turnCol">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1></h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Hut Button
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Inventory Button
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Raft Button
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col col-6 class="mapCol">
        <div class="wholeIsland">
          <div ngClass="islandRow" *ngFor="let row of rowsControl">
            <div *ngFor="let cell of colsControl" (click)="openTileModal(island[row+''+cell])"
                 ngClass="{{'z'+row+''+cell}} mapCell islandTile {{island[row+''+cell].type}}"
                 [ngStyle]="{ 'background-image': 'url(../../assets/imgs/tiles/' + island[row+''+cell].type + '-' + (row == 0 ? 't' : '') + (row == 4 ? 'b' : '') + (cell == 0 ? 'l' : '') + (cell == 4 ? 'r' : '') +'.png'+ ')'}">
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col col-1 class="toasts">

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>