.turnCol {
    text-align: center;
}

.islandRow {
    display: flex;
}


.islandTile:before{
	content: "";
	display: block;
    padding-bottom: 66%;
}
.islandTile {
  width: 20%;
  margin: 0px;
  padding: 20px;
}

.mapCell {
    background-repeat: no-repeat;
    background-size: cover;
}

.mapCell.z00 {
    background-position: bottom right;
}


.mapCell.z01.beach {
    background-position: bottom center;
}
.mapCell.z02.beach {
    background-position: bottom center;
}
.mapCell.z03.beach {
    background-position: bottom center;
}

.mapCell.z04 {
    background-position: bottom left;
}
.mapCell.z44 {
    background-position: top left;
}

.mapCell.z41.beach {
    background-position: top center;
}
.mapCell.z42.beach {
    background-position: top center;
}
.mapCell.z43.beach {
    background-position: top center;
}

.wholeIsland {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.mapCell {
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    background-color: rgb(217, 243, 255);
}