.zero {
    color: #A0A0A0;
}

.actionarea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.actionarea .actionbox {
    min-height: 8em;
    border: 1px solid #909090;
    background-color: #f1f1f1;
    padding: 10px;
    position: relative;
    display: flex;
  }

.actionarea .actionbox .theaction {
    white-space: pre;
}

.actionarea .actionbox .actionname {
    font-weight: bold;
    text-transform: capitalize;
    position: absolute;
    left: 5px;
    top: 5px;
}

.actionarea .actionbox .itemname {
    font-weight: bold;
    text-transform: capitalize;
    position: absolute;
    left: 5px;
    top: 4em;
}

.actionarea .actionbox .tool {
    font-weight: bold;
    text-transform: capitalize;
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.theoutcomes {
    position: relative;
}

.outcomebox {
    position: relative;
    height: 64px;
    width: 64px;
    border: 1px solid #9F9090;
    background: #DF9090;
    margin: 5px;
    padding: 1px;
    display: inline-block;
  }
  
  .outcomeboxname {
    position: absolute;
    top: 5px;
    left: 5px;
  }