<ion-header>

    <ion-navbar>
      <ion-title>Item</ion-title>
      <ion-buttons end>
        <button ion-button (click)="closeModal()">Close</button>
      </ion-buttons>
    </ion-navbar>

  </ion-header>

  <ion-content padding>

    <p>This is {{ itemName }}, you have {{ itemQty }} </p>

    <span *ngFor="let action of actions" (click)="doit($event, action)">
  
        <div ngClass="actionBox">
          {{ action.actionname }}   
          
        </div>
        >> 
        <span *ngFor="let thing of action.outcomes" ngClass="actionOutcomeBox">
          {{ thing }}
        </span>
    
    </span>
    
  </ion-content>