<ion-header>

    <ion-navbar>
      <ion-title>Item</ion-title>
      <ion-buttons end>
        <button ion-button (click)="closeModal()">Close</button>
      </ion-buttons>
    </ion-navbar>

  </ion-header>

  <ion-content padding>

    <p>This is {{ itemName }}, you have {{ itemQty }} </p>

    <p>{{ itemDescription }}</p>

    <div *ngIf="itemQty > 0" class="actionarea">
      <span *ngFor="let action of actions" (click)="doit($event, action)">
    
        <div ngClass="actionbox">
            {{ itemName }}
            <span class="actionname">>> {{ action.actionname }}  >></span>
            <span *ngFor="let thing of action.outcomes" ngClass="actionOutcomeBox">
            {{ thing }}
            </span>
        </div>
      </span>
    </div>

    <span *ngFor="let recipe of recipes" (click)="cookit($event, recipe)">
  
      <span *ngFor="let thing of recipe.ingredients" ngClass="actionOutcomeBox">
        {{ thing }}
      </span>
      >> {{ recipe.recipeName }} >>
      <span *ngFor="let thing of recipe.outcomes" ngClass="actionOutcomeBox">
        {{ thing }}
      </span>
  
  </span>

  </ion-content>