<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>{{gameservice.gettime()}} - {{tiledata.description}}</ion-title>
    <ion-buttons end>
      <!-- button ion-button (click)="showInventory()">Inventory</button -->
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="itemarea">
    <div *ngFor="let resource of resources" (click)="pickup($event, resource)">

        <div [ngStyle]="{ 'background-image': 'url(../../assets/imgs/items/' + resource.item + '.png' }"
         ngClass="itembox {{resource.possiblecollect}} {{ resource.qty == 0 ? 'zero' : 'some' }}">
          
          <span class="itemname">{{resource.item}}</span>
          <div *ngIf="resource.possiblecollect" class="tool">{{ resource.besttool }}</div>
          <div *ngIf="!resource.possiblecollect" class="tool">NO TOOL!</div>
          <span class="duration">{{resource.playertime}} minutes</span>
          <span class="itemqty">
              <span class="qtylabel">qty: </span>
              <span class="qtyno">{{resource.qty}}</span>
            </span>
        </div>

      </div>
  </div>

</ion-content>