.zero {
    color: #A0A0A0;
}

.itemarea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.itemarea .itembox {
    min-height: 8em;
    min-width: 14em;
    border: 1px solid #909090;
    background-color: #f1f1f1;
    margin: 5px 10px;
    padding: 10px;
    position: relative;
    background-size: contain;
  }

  .itemarea .itembox .itemqty {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.itemarea .itembox .itemqty .qtylabel {
    font-size: 0.8em;
}
.itemarea .itembox .itemqty .qtyno {
    font-size: 2em;
    font-weight: bold;
}
.itemarea .itembox .itemname {
    clear: both;
    font-weight: bold;
    text-transform: capitalize;
}

.itemarea .itembox .itemname {
    position: absolute;
    left: 5px;
    top: 5px;
}

.itemarea .itembox .tool {
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.itemarea .itembox .duration {
    position: absolute;
    right: 5px;
    top: 5px;
}

.itembox.false {
    border: 1px solid red;
    color: #A0A0A0;
}