<ion-header>

    <ion-navbar>
      <ion-title>The launch site</ion-title>
      <ion-buttons end>
        <!-- button ion-button (click)="showInventory()">Inventory</button -->
        <button ion-button (click)="closeModal()">Close</button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
    <p>This is the Jetty, where you will build your raft!
    </p>

    <div *ngIf="raftbuilder !== undefined">
      Your raft is currently made of {{ raftbuilder.raft.logbuild + ' log' + (raftbuilder.raft.logbuild != 1 ? 's' : '') }} <br/>
      Stability: {{ raftbuilder.raft.stability }} <br/>
      Carry capacity: {{ raftbuilder.raft.carrycapacity }}
    </div>
    
    <div ngClass="buildarea">
      <div *ngFor="let action of raftbuildactions" (click)="doit($event, action)" ngClass="buildaction">
    
        <div ngClass="buildoutcomes">  
          <div *ngFor="let thing of action.ingredients" ngClass="buildingredientbox"
               [ngStyle]="{ 'background-image': 'url(../../assets/imgs/items/' + thing + '.png' }">
            <div class="itemname">{{ thing }}</div>
          </div>
        </div>

        <div class="buildactionbox">
        >> {{ action.actionname }} >>
        </div>

        <div ngClass="buildoutcomes">
          <div ngClass="buildoutcomebox">
            Stability: {{ action.stability >= 0 ? '+' + action.stability : '-' + action.stability }}
          </div>
          <div ngClass="buildoutcomebox">
            Carry capacity: {{ action.carrycapacity >= 0 ? '+' + action.carrycapacity : '-' + action.carrycapacity }}
          </div>
        </div>

      </div>
    </div>
  
  </ion-content>